<header class="main-header">
    <a href="#hero" class="logo">
        <img src="images/DEPA-logo.png" alt="DEPA Lab Logo" class="logo-image">
    </a>
    <!-- Checkbox for toggling the menu -->
    <input type="checkbox" class="check" id="check">
    <!-- Label for the hamburger menu -->
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <!-- Navigation -->
    <nav>
        <ul class="nav-links">
            <li><a href="../../index.html#about">About</a></li>
            <li><a href="../../index.html#research">Research</a></li>
            <li><a href="../../index.html#innovation">Innovation</a></li>
            <li><a href="../../index.html#events">Events</a></li>
            <li><a href="../../index.html#team">Team</a></li>
            <li><a href="../../index.html#contact">Contact</a></li>
        </ul>
    </nav>
</header>
