<!-- components/header.html -->
<header class="main-header">
    <!-- For pages in root directory -->
    <a href="/dapa-research-lab/index.html" class="logo">
        <img src="/dapa-research-lab/images/DEPA-logo.png" alt="DEPA Lab Logo" class="logo-image">
    </a>
    <input type="checkbox" class="check" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <nav>
        <ul class="nav-links">
            <li><a href="/dapa-research-lab/index.html#about">About</a></li>
            <li><a href="/dapa-research-lab/index.html#research">Research</a></li>
            <li><a href="/dapa-research-lab/index.html#innovation">Innovation</a></li>
            <li><a href="/dapa-research-lab/index.html#events">Events</a></li>
            <li><a href="/dapa-research-lab/index.html#team">Team</a></li>
            <li><a href="/dapa-research-lab/index.html#contact">Contact</a></li>
        </ul>
    </nav>
</header>
